* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.menuLatihan,
.menuKumpulan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: none;
}
.menuLatihan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuKumpulan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuLatihan {
  margin-right: 20px;
}

.btnAwal {
  width: 25%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.heading {
  margin-left: 6%;
  margin-right: auto;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.heading a {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  color: black;
  text-align: center;
  border: none;
}
.heading img {
  width: 25px;
  height: 25px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  background-color: #eb5757;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  border-radius: 10px;
}
.perbaikan {
  width: 50%;
  margin-left: 20px;
  margin-right: auto;
  font-family: "Poppins";
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.draft {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.draftLatihan {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border: 1px solid #9656a1;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}
.draftMapel {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.namaLatihan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.namaLatihan:hover {
  color: #9656a1;
  transition: 0.5s;
}
.draftLatihan img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.icon {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}
.kritik-saran {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: #9656a1;
  border-radius: 10px;
  padding: 0 6px;
  justify-content: space-between;
}
.kritik-saran:hover {
  background-color: #e78fb3;
}
.add img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 5px;
}
.tambah {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin-top: 7px;
}
.edit img {
  width: 25px;
  height: 25px;
  background-color: #e8da5d;
  padding: 3px;
  border-radius: 5px;
}
.edit img:hover {
  background-color: #e78fb3;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}
