* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.menuLatihan,
.menuKumpulan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: none;
}
.menuLatihan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuKumpulan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuLatihan {
  margin-right: 20px;
}

.btnAwal {
  width: 25%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.heading{
  width: 100%;
  height: auto;
}
.paragraf1{
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.materi {
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 2px solid #9656a1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gambarMateri {
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
}
.namaMateri {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  color: black;
}
