* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.menuLatihan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border-bottom: 2px solid #e78fb3;
}
.menuKumpulan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: none;
}
.menuLatihan:hover {
  color: #e78fb3;
  transition: 0.5s;
}
.menuKumpulan:hover {
  color: #e78fb3;
  transition: 0.5s;
}
.menuLatihan {
  margin-right: 20px;
}

.btnAwal {
  width: 25%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.heading {
  margin-left: 6%;
  margin-right: auto;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.heading a {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  color: black;
  text-align: center;
  border: none;
}
.heading img {
  width: 25px;
  height: 25px;
}

.main {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main h3 {
  font-family: "Poppins";
  color: black;
  margin-left: 0px;
  margin-right: auto;
}
.tabel-main {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.tabel-main table {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: grey;
}
.komen-list {
  width: 80%;
  height: auto;
}
.komen span {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.komen {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.isi-komen{
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 1px solid #9656a1;
  border-radius: 10px;
  justify-content: left;
}
.isi-komen p {
  width: auto;
  height: auto;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: auto;
  margin-left: 10px;
  margin-right: 15px;
}
.isi-komen button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  margin: auto;
  margin-left: 5px;
  cursor: pointer;
}
.isi-komen button img {
  width: 25px;
  height: 25px;
}
.isi-komen button:hover {
  box-shadow: 0 0 10px #9656a1;
  transition: 0.5s;
}

.submit {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.submit input {
  min-width: 90%;
  height: auto;
  background-color: transparent;
  border: none;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 500;
  color: grey;
}
.submit input:focus {
  outline: none;
  color: black;
}
.submit button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  margin-top: 7px;
  margin-left: 5%;
  margin-right: auto;
  cursor: pointer;
}
.submit button img {
  width: 25px;
  height: 25px;
}
.submit button:hover {
  box-shadow: 0 0 10px black;
  transition: 0.5s;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}
