* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.menuLatihan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border-bottom: 2px solid #e78fb3;
}
.menuKumpulan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: none;
}
.menuLatihan:hover {
  color: #e78fb3;
  transition: 0.5s;
}
.menuKumpulan:hover {
  color: #e78fb3;
  transition: 0.5s;
}
.menuLatihan {
  margin-right: 20px;
}

.btnAwal {
  width: 25%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.heading {
  margin-left: 6%;
  margin-right: auto;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.heading a {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  color: black;
  text-align: center;
  border: none;
}
.heading img {
  width: 25px;
  height: 25px;
}

.main {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: table-row;
}
.pertanyaan {
  width: 50%;
  height: auto;
  margin: auto;
  margin-left: 5%;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
.listPertanyaan {
  width: 100%;
  height: auto;
  margin-left: auto;
  font-family: "Poppins";
  color: black;
}
.listPertanyaan h4 {
  margin: auto;
  color: #e78fb3;
}
.soal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.soal a {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.editSoal img {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  background-color: #e8da5d;
  padding: 2px 4px;
  border-radius: 5px;
}
.editSoal img:hover {
  background-color: #e78fb3;
}
.pilgan {
  font-size: 18px;
  font-weight: 300;
  margin: auto;
}
.pilgan input[type="radio"] {
  display: none;
}
.pilgan label {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid #9656a1;
  align-items: center;
  min-width: 90%;
  margin-left: 2%;
  margin-bottom: 10px;
  padding: 8px 15px;
  border-radius: 10px;
  gap: 10px;
}
.pilgan label:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #9656a1;
  border-radius: 50%;
}
.pilgan input[type="radio"]:checked + label:before {
  background-color: #9656a1;
}

.pagination {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: transparent;
  width: 100%;
  height: auto;
}
.pagination ul {
  margin: 10px 0;
}
.pagination ul li {
  display: inline-block;
  margin-left: 0;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  background-position: 0 -45px;
  transition: background-position 0.3s;
}
.pagination ul li.active {
  color: white;
  background-image: linear-gradient(#9656a1, #9656a1);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.btn1 {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
  color: black;
  border: none;
  outline: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  margin-right: 0;
}
.btn2 {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
  color: black;
  border: none;
  outline: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  margin-left: 15px;
}
.btn1:hover,
.btn2:hover {
  color: #9656a1;
}

.finish {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  color: #9656a1;
  border: 1px solid #9656a1;
  border-radius: 15px;
  padding: 4px 15px;
  cursor: pointer;
  margin-left: 5px;
}
.finish:hover {
  background-color: #9656a1;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
}
.dropdown span img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid #b20040;
  border-radius: 15px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content p {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: auto;
}
.dropdown-content input {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
.dropdown-content label {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.kirim {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
  background-color: transparent;
  border: 1px solid #b20040;
  border-radius: 8px;
  padding: 4px 15px;
  cursor: pointer;
  margin-left: 5px;
}
.kirim:hover {
  background-color: #b20040;
  color: white;
}
.batal {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  background-color: #b20040;
  border: 1px solid #b20040;
  border-radius: 8px;
  padding: 4px 15px;
  cursor: pointer;
  margin-left: 10px;
}
.batal:hover {
  background-color: transparent;
  color: #b20040;
}

.mapel {
  min-width: 40%;
  height: auto;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.jenisMapel {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: auto;
  border: 2px solid #9656a1;
  border-radius: 5px;
}
.gambar-mapel {
  width: 50%;
  height: auto;
  margin: auto;
}
.gambar-mapel img {
  width: 100%;
  height: auto;
}
.isiMapel {
  max-width: 100%;
  height: auto;
  font-size: 14px;
  font-family: "Sans serif";
  color: black;
  font-weight: 300;
  margin-right: 10px;
}
.nmMapel {
  font-family: "Poppins";
  color: black;
}
.selesai{
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #9656a1;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}
.selesai:hover{
  background-color: white;
}
.selesai button{
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.selesai button:hover{
  color: #9656a1;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}