* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.menuLatihan,
.menuKumpulan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: none;
}
.menuLatihan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuKumpulan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuLatihan {
  margin-right: 20px;
}

.btnAwal {
  width: 25%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.tambahSoal {
  display: flex;
  flex-direction: row;
  width: 160px;
  height: auto;
  background-color: #9656a1;
  margin-left: 6%;
  justify-content: right;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 4px 10px 1px 0px;
}
.tambahSoal:hover {
  background-color: #e8da5d;
}
.add img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.tambah {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  background-color: #e78fb3;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  border-radius: 10px;
}
.namaMapel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.kelas {
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.search {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.search input {
  width: 40%;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  color: black;
  background-color: white;
  outline: none;
  margin-top: 18px;
  margin-left: 50%;
  margin-right: auto;
}

.download {
  width: 90%;
  height: auto;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  font-family: "Poppins";
  color: black;
}
.download table {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: transparent;
  margin-top: 10px;
}
.download table tr {
  border-bottom: 1px solid grey;
}
.edit img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #e8da5d;
  padding: 3px;
  border-radius: 5px;
}
.edit img:hover {
  background-color: #E78FB3;
}
.trash img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #b20040;
  padding: 3px;
  border-radius: 5px;
}
.trash img:hover {
  background-color: #E78FB3;
}
.unduh img {
  width: 25px;
  height: 25px;
  background-color: #999999;
  padding: 3px;
  border-radius: 5px;
}
.unduh img:hover {
  background-color: #E78FB3;
}
.kritik-saran {
  display: flex;
  flex-direction: row;
  width: 110px;
  height: auto;
  background-color: #9656a1;
  border-radius: 10px;
  padding: 0 6px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.kritik-saran:hover {
  background-color: #e78fb3;
}
.add-kritik img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 5px;
}
.krisan {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin-top: 7px;
}


footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}
