* {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif, "Poppins";
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo1 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.logoAwal {
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.menuAwal {
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}
.menuLatihan,
.menuKumpulan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: none;
}
.menuLatihan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuKumpulan:hover {
  color: #9656a1;
  border-bottom: 1px solid #9656a1;
  transition: 0.5s;
}
.menuLatihan {
  margin-right: 20px;
}

.btnAwal {
  width: 25%;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.btnMasuk {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.btnMasuk:hover {
  color: #9656a1;
}
.btnDaftar {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: #9656a1;
  margin-left: 20px;
  border: 1px solid #9656a1;
  border-radius: 20px;
  padding: 5px 20px;
}
.btnDaftar:hover {
  background-color: #9656a1;
  color: white;
}

.tambahSoal {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: auto;
  background-color: #9656a1;
  margin-left: 6%;
  justify-content: right;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 8px;
}
.add img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.tambah {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  background-color: #e78fb3;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  border-radius: 10px;
}
.namaMapel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.kelas {
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.search {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.search input {
  width: 40%;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  color: black;
  background-color: white;
  outline: none;
  margin-top: 18px;
  margin-left: 50%;
  margin-right: auto;
}

.draft {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.draftLatihan {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border: 1px solid #9656a1;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}
.namaLatihan {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.namaLatihan:hover {
  color: #9656a1;
  transition: 0.5s;
}
.draftLatihan img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.icon {
  margin-left: 53%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.edit img {
  width: 25px;
  height: 25px;
  background-color: #e8da5d;
  padding: 3px;
  border-radius: 5px;
}
.trash img {
  width: 25px;
  height: 25px;
  background-color: #b20040;
  padding: 3px;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #9656a1;
  justify-content: center;
}
.copyRight {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 6px 20px;
}
